<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Elysium - The Space Hotel</title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.png">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="/css/login.css">

</head>

<body>
    <div class="earth">
        <img src="/img/core-img/earth.png" alt="">   
             <div class="station">
                 <img src="/img/core-img/station.png" alt="" width="80" height="80">
             </div>
    </div>

    <div id="fondo" class="container">
        <canvas id="demo-canvas" style="position:relative;"></canvas>
        <div id="frame" class="frame" style="position: absolute;
                top: 5vw;
                left: 0;
                right: 0;
                margin: 0 auto;">

            <div class="nav">
                <a href="index.html" class="nav-brand"><img src="/img/core-img/logo.png" alt=""></a>
                <ul class="links">
                    <li class="signin-active"><a class="btn">Sign in</a></li>
                    <li class="signup-inactive"><a class="btn">Sign up </a></li>
                </ul>
            </div>
            <div ng-app ng-init="checked = false">
                <form class="form-signin" th:action="@{/authenticateTheUser}" method="post" name="form">
                    <label for="username">Usuario</label>
                    <input class="form-styling" type="text" id="username" name="username" placeholder="" />
                    <label for="password">Password</label>
                    <input class="form-styling" type="password" id="password" name="password" placeholder="" />
                    <br> <br> <br>
                    <div class="btn-animate">
                        <button type="submit" class="btn-signin">Sign In</button>
                    </div>

                </form>
                <form class="form-signup" method="post" th:action="@{/newUser}" modelAttribute="signUP" name="form2">
                
                         <label for="nombre">Nombre</label>
                         <input class="form-styling" type="text" name="nombre" id="nombre" placeholder="" />
                        <label for="apellido">Apellidos</label>
                        <input class="form-styling" type="text" name="apellido" id="apellido" placeholder="" />
                        <label for="email">Email</label>               
                        <input class="form-styling" type="email" name="email" id="email" placeholder="" />
                        <hr><br>
                        <label for="newUsername">Usuario</label>
                        <input class="form-styling" type="text" name="newUsername" id="newUsername" placeholder="" />
                        <label for="newPassword">Password</label>
                        <input class="form-styling" type="password" id="newPassword" name="newPassword" placeholder="" />
                        <label for="confirmpassword">Confirma el password</label>
                        <input class="form-styling" type="password" name="confirmpassword" id="confirmpassword" placeholder="" />
                        <hr>
                    <div>
                        <button type="submit" class="btn-signup">Sign UP</button>
                    </div>
                </form>
                <div class="success"> <svg width="270" height="270" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 60 60" id="check"
                        ng-class="checked ? 'checked' : ''"></svg>
                    <path fill="#ffffff"
                        d="M40.61,23.0g3L26.67,36.97L13.495,23.788c-1.146-1.147-1.359-2.936-0.504-4.314 c3.894-6.28,11.169-10.243,19.283-9.348c9.258,1.021,16.694,8.542,17.622,17.81c1.232,12.295-8.683,22.607-20.849,22.042 c-9.9-0.46-18.128-8.344-18.972-18.218c-0.292-3.416,0.276-6.673,1.51-9.578" />
                    <div class="successtext">
                        <p> Gracias por registrarte! Revisa tu email de confirmacion.</p>
                    </div>
                </div>
            </div>
            <div class="forgot"> <a href="#"></a> </div>
            <div>
                <div class="cover-photo"></div>
                <div class="profile-photo"></div>
                <h1 class="welcome">Bienvenido, Invitado</h1> <a class="btn-goback" value="Refresh"
                    onClick="history.go()">Volver</a>
            </div>
        </div>

    </div>


    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="/js/active.js"></script>
    <script src="/js/login.js"></script>
    <!-- Animation background js -->
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/TweenLite.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/EasePack.min.js"></script>
    <script src="/js/animation.js"></script>
    <script src="/js/sendData.js"></script>
</body>

</html>