<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Elysium - The Space Hotel</title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.png">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
<h2>Todas las reservas</h2>
    <ul th:each="reserva: ${reservas}">
        <li th:text="${reserva.fechaIn}"></li>
        <li th:text="${reserva.fechaOut}"></li>
        <li th:text="${reserva.precioTotal}"></li>
        <li th:text="${reserva.getCliente().getNombre()}"></li>
    </ul>
    <!-- Single Rooms Area -->
			<div th:each="hab: ${habitaciones}" class="col-12 col-md-6 col-lg-4">
				<div class="single-rooms-area wow fadeInUp" data-wow-delay="100ms">
					<!-- Thumbnail -->
					
					<div class="bg-thumbnail bg-img" th:style="'background-image: url(/img/bg-img/hab/' + ${hab.getTipoModel().getId()} + '.jpg)'"></div>
					<!-- Price  -->
					<p class="price-from" th:text="'Desde ' + ${#numbers.formatDecimal(hab.getPrecio(),3,'POINT',0,'COMMA')} + ' €/noche'"></p>
					<!-- Rooms Text -->
					<div class="rooms-text">
						<div class="line"></div>
						<h4 th:text="${hab.getTipoModel().getNombre()}"></h4>
						<p th:text="${hab.getTipoModel().getDescripcion()}"></p>
					
					</div>
					<!-- Book Room -->
</body>
</html>